html {
  background-color: black;
}
body {
  margin: 0;
}

h1,
h2,
p,
a {
  color: var(--colorUI);
}

:root {
  --colorBg: #313338;
  --colorNav: #2b2d31;
  --colorNavInverse: #404249;
  --colorUI: #b5bac1;
  --colorUIFocus: #f2f3f5;
}
