html {
  background-color: var(--colorBg);
}
body {
  margin: 0;
}

.cursor-pointer {
  cursor: pointer;
}

h1,
h2,
p,
a {
  color: var(--colorUI);
}

:root {
  --colorBg: white;
  --colorUIButton: #f86e45;
  --colorUIButtonInverse: #f78462;
  --colorUI: black;
  --colorUIBlur: #a3a6b4;
  --colorUISecond: #8e5eed;
  --colorUISecondFocus: #f2edfd;
  --colorUIDecoration: #f1f1f2;
}
